// Main Site Layout
body {
    overflow-x: hidden;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    position: relative;

    .header,
    .footer {
        flex: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;

        &::after {
            content: '';
            display: block;
            height: 0;
            visibility: hidden;
        }
    }
}

.container {
    @include center-content();

    margin-left: auto;
    margin-right: auto;
    padding: 0 $space;

    @include mq(md) {
        padding: 0 $space-md;
    }
}

article,
section {
    header {
        position: relative;
        padding-top: $space-lg;
        padding-bottom: $space;
        border-bottom: 2px solid var(--grey-medium);
        margin-bottom: $space-lg;

        @include mq(lg) {
            padding-top: $space-xl;
        }

        .subheading {
            @include font-size(16px);

            font-weight: $font-weight-medium;
        }

        .date {
            @include font-size(15px);

            color: var(--black);
            margin-bottom: $space-xs;
        }

        .tags {
            margin-bottom: 0;
        }
    }

    .comments {
        margin-top: $space-xl;
    }
}

.draft-alert {
    background-color: #ffc6c6;
    margin-top: $space;
    padding: $space;
    text-align: center;
}
