h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %font-heading;
	color: var(--black);
	line-height: 1.3;
	margin-top: 0;
	margin-top: $space-lg;
	margin-bottom: $space-sm;
	font-weight: $font-weight-semibold;
	font-variation-settings: 'wght' $font-weight-semibold;

	.anchor {
		display: none;
		left: $space-xs;
		padding: 0 $space-sm;
	}

	&:hover .anchor {
		display: inline-block;
		background: none;
		border: 0;
	}
}

h1 {
	margin-top: 0;
	@include font-size(36px);
	@include mq(md) {
		@include font-size(36px);
	}

	&.jumbo {
		@include mq(md) {
			@include font-size(50px);
		}
	}
}

h2 {
	@include font-size(30px);
	@include mq(md) {
		@include font-size(30px);
	}
}

h3 {
	@include font-size(22px);
	@include mq(md) {
		@include font-size(24px);
	}
}

h4 {
	@include font-size(18px);
}

h5 {
	@include font-size(14px);
}

h6 {
	@include font-size(12px);
}

small,
.font_small {
	@include font-size(11px);
}

a {
	color: var(--primary);
	font-weight: $font-weight-medium;
	text-decoration: none;
	position: relative;

	&:active,
	&:hover {
		color: var(--primary);
		text-decoration: underline;
	}
	&.no-hover {
		&:active,
		&:hover {
			text-decoration: none;
			border: 0;
			background: none;
		}
	}
}

b,
strong {
	font-weight: $font-weight-medium;
	font-variation-settings: 'wght' $font-weight-medium;
}

p {
	margin-top: 0;
	margin-bottom: $space;

	&.lead {
		@include font-size(18px);
		font-weight: $font-weight-medium;
		color: var(--black);
		margin-bottom: $space-md;
		line-height: 1.4;

		@include mq(sm) {
			@include font-size(30px);
		}
	}
}
