<aside class="author">
    <h2>About the Author</h2>
    <div class="author__content">
        <div class="author__info">
            <p>{{config.bio}}</p>
            <p>If you enjoy my content, please consider supporting what I do.</p>
        </div>
        <div class="author__support">
            <a
                class="supporter-button bmc no-hover"
                href="https://www.buymeacoffee.com/ajaykarwal"
                target="_blank"
                rel="nofollow noopener">
                <img src="/assets/images/bmc-button.png" alt="Buy me a coffee"/>
            </a>
            <a class="supporter-button no-hover" href="/newsletter">
                <img src="/assets/images/nl-button.png" alt="Subscribe to my newsletter"/>
            </a>
        </div>
        <img class="avatar" src="/assets/images/avatar.png" alt="That's me!" width="200"/>
    </div>
</aside>