<div class="author">
    <img class="avatar" src="/assets/images/avatar.jpg" alt="That's me!" width="200" />
    <div class="author__info">
      <p>{{config.userDescription}}</p>
    </div>
    <div class="author__support">
      <a
        class="supporter-button patreon no-hover"
        href="https://www.patreon.com/ajaykarwal"
        target="_blank"
        rel="nofollow noopener"
      >
        <img src="/assets/images/patreon-button.png" alt="Become a Patron" />
      </a>
      <a
        class="supporter-button kofi no-hover"
        href="https://www.ko-fi.com/ajaykarwal"
        target="_blank"
        rel="nofollow noopener"
      >
        <img src="/assets/images/kofi-button.png" alt="Buy me a coffee" />
      </a>
    </div>
  </div>