<footer class="footer" role="contentinfo">
	<h1 class="hidden">Footer</h1>
	<div class="footer__content">
		<div class="footer__content-block footer__about">
			<h2>A bit about me</h2>
			<p>Hi, I’m Ajay Karwal, a frontend developer, UI designer, podcast host and all-round tech enthusiast from Northampton, UK.</p>
		</div>
		<div class="footer__content-block footer__connect">
			<h2>Connect with me</h2>
			<ul class="unstyled">
				{%- for link in config.connect -%}
				<li key="{{ link.label }}">
					<a rel="me" href="{{ link.url }}" target="_blank" rel="nofollow noopener">
						{{ link.label }}
					</a>
				</li>
				{%- endfor -%}
			</ul>
			<small class="footer__version">
				<a href="/versions/">Version 8.0</a>, built using <a href="https://www.11ty.dev">Eleventy</a> and hosted on
				<a href="https://www.netlify.com/">Netlify</a>.
				<br />
				You can see the source code on <a href="{{ config.repository }}">Github</a>.
			</small>
            <div class="hotline-webring">
                <a class="hotline-webring__arrow hotline-webring__prev" href="https://hotlinewebring.club/ajaykarwal/previous">
                    ← <span class="sr-only">Previous webring website</span>
                </a>
                <a class="hotline-webring__home" href="https://hotlinewebring.club/">Hotline Webring</a>
                <a class="hotline-webring__arrow hotline-webring__next" href="https://hotlinewebring.club/ajaykarwal/next">
                    <span class="sr-only">Next webring website</span> →
                </a>
            </div>
		</div>
	</div>
    <p class="footer__copyright">&copy; {{ build.timestamp | dateToFormat('yyyy') }} <a href="/">Ajay Karwal</a></p>
</footer>
