<header role="banner" class="header">
	<div class="header__content">
		<a href="/" class="header__logo no-hover">
			<svg viewBox="0 0 76 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <title>Website logo. Click to return to homepage</title>
				<path d="M73 3L41.5 13.1111L73 23.2222" stroke="#2A3432" stroke-width="4" stroke-linecap="round" stroke-linejoin="bevel" />
				<path
					d="M40.1 23.2222V13.1111V3L3 23.2222"
					stroke="#2A3432"
					stroke-width="4"
					stroke-linecap="round"
					stroke-linejoin="bevel"
				/>
			</svg>
		</a>
		{% include "navigation.njk" %}
	</div>
</header>
