@use 'sass:math';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

// Fonts
$font-stack-custom: 'Rubik', sans-serif;
$font-stack-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, helvetica, arial, sans-serif;
$font-stack-serif: 'Times New Roman', georgia, times, serif;
$font-stack-mono: consolas, monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;

$font-family-heading: $font-stack-custom;
$font-family-sans-serif: $font-stack-custom;
$font-family-serif: $font-stack-serif;
$font-family-mono: $font-stack-mono;

%font-heading {
	font-family: $font-family-heading;
}
%font-body {
	font-family: $font-family-sans-serif;
}
%font-mono {
	font-family: $font-family-mono;
}

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// Colors
$primary: #bc3e31;
$primary-dark: #943126;
$primary-light: #dc8177;
$primary-very-light: rgba(188, 62, 49, 0.1);
$secondary: #ffdf31;
$secondary-dark: #f7cb1f;
$secondary-light: #fbedca;

$white: #fff;
$grey-light: #f7f7f7;
$grey-medium: #e5e5e5;
$grey-semi: #ccc;
$grey-dark: #777;
$grey-darker: #555;
$black: #272121;
$true-black: #000;

$inline-code: $secondary-light;
$panel-background: $grey-medium;
$text-selection: $secondary-dark;

$theme-colors: (
	'primary': $primary,
	'primary-dark': $primary-dark,
	'primary-light': $primary-light,
	'primary-very-light': $primary-very-light,
	'secondary': $secondary,
	'secondary-dark': $secondary-dark,
	'secondary-light': $secondary-light,
	'white': $white,
	'grey-light': $grey-light,
	'grey-medium': $grey-medium,
	'grey-semi': $grey-semi,
	'grey-dark': $grey-dark,
	'grey-darker': $grey-darker,
	'black': $black,
	'true-black': $true-black
) !default;

$text-body: $black;
$text-body-dark: $true-black;
$text-link: $primary;

$brand-twitter: #55acee;
$brand-facebook: #3b5998;
$brand-instagram: #a7755c;
$brand-linkedin: #0077b5;
$brand-dribbble: #ea4c89;
$brand-behance: #1769ff;
$brand-youtube: #cd201f;
$brand-github: #000;

// Spacing
$space: 20px;
$space-xs: math.div($space, 4);
$space-sm: math.div($space, 2);
$space-md: $space * 1.5;
$space-lg: $space * 2;
$space-xl: $space * 4;

$container-width: 1060px;
$content-width: 800px;

$border-radius: 6px;
$border-radius-sm: 3px;
$border-radius-lg: 10px;

$box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
$box-shadow-elevated: 0 6px 12px 0 rgba(0, 0, 0, 0.1);

$breakpoints: (
	sm: 375px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

$container-max-width: 100%;

$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1);
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1);
$animation-curve-default: $animation-curve-fast-out-slow-in;
