@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;
.author {
    border-top: 1px solid $grey-semi;
    padding-top: $space-md;
    margin-top: $space-xl;

    &__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'i i i'
            's s a';
        grid-gap: $space;
        background-color: var(--white);
        border-radius: $border-radius;
        padding: $space;
        color: var(--black);

        @include mq(md) {
            grid-template-columns: auto auto 120px;
            grid-template-areas:
                'i i a'
                's s a';
        }
    }

    .avatar {
        grid-area: a;
        width: 60px;
        height: 60px;
        object-fit: cover;
        object-position: top;

        @include mq(sm) {
            width: 100px;
            height: 100px;
        }

        @include mq(md) {
            width: 100%;
            height: 150px;
        }
    }

    &__info {
        grid-area: i;
        margin: auto;

        p {
            @include font-size(15px);

            @include mq(md) {
                @include font-size(17px);
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__support {
        grid-area: s;
        display: grid;
        grid-gap: $space;
        grid-template-columns: auto;

        @include mq(md) {
            grid-template-columns: auto 1fr;
        }

        .supporter-button {
            display: inline-block;
            max-width: 150px;
        }
    }
}
