// Inline code
:not(pre) {
	> code[class*='language-'],
	> code,
	> kbd,
	> samp {
		@extend %font-mono;
		@include font-size(15px);
		padding: 3px 5px;
		border-radius: 3px;
		color: var(--black);
		background-color: $inline-code;
		text-shadow: 0 1px 0 var(--white);

		@include mq(md) {
			white-space: pre-wrap;
		}
	}
}

// Code blocks
pre[class*='language-'] {
	@extend %font-mono;
	@include font-size(16px);
	display: block;
	border: 0;
	border-radius: $border-radius-lg;
	line-height: 1.5;
	margin: $space auto $space;
	padding: $space-md;
	word-break: break-all;
	word-wrap: break-word;
	overflow: scroll;
}
