.footer {
	padding: 0 $space;
	background-color: var(--grey-light);

	@include mq(md) {
		padding: 0 $space-md;
	}

	&__content {
		border-top: 2px solid var(--grey-semi);
		padding: $space-md 0;

		@include mq(md) {
			display: flex;
			justify-content: space-between;
			> div {
				max-width: 350px;
			}
		}
	}
	&__content-block {
		h2 {
			@include font-size(18px);
		}
	}
	&__about {
		p {
			@include font-size(15px);
			margin-top: $space;

			@include mq(md) {
				margin-top: $space + 5px;
			}
		}
	}
	&__connect {
		ul {
			li {
				display: inline-block;
				position: relative;
				margin-right: $space-sm;
				margin-bottom: 0;

				@include mq(md) {
					margin-right: auto;
					margin-left: $space-sm;
					text-align: right;
				}

				a {
					@include font-size(15px);
					font-weight: $font-weight-normal;
					font-variation-settings: 'wght' $font-weight-normal;
				}
			}
		}
		@include mq(md) {
			text-align: right;
		}
	}
	&__version {
		margin-top: $space;
	}
	&__copyright {
		@include font-size(13px);
		margin-top: $space;
		text-align: center;
	}
}

// .footer {
// 	display: flex;
// 	align-items: center;
// 	@include font-size(14px);

// 	text-align: center;

// 	@include mq(md) {
// 		text-align: left;
// 	}

// 	&__content {
// 		display: flex;
// 		flex-direction: column-reverse;
// 		justify-content: space-between;
// 		border-top: 2px solid var(--grey-medium);
// 		padding-top: $space-md;

// 		@include mq(md) {
// 			flex-direction: row;
// 		}
// 	}

// 	&__links {
// 		display: flex;
// 		flex-direction: column;
// 		margin-top: $space;

// 		@include mq(md) {
// 			margin-top: 0;
// 		}
// 		.user-links {
// 			margin-bottom: $space;
// 			p {
// 				display: inline-block;
// 				position: relative;
// 				margin: 0;

// 				&::after {
// 					content: '/';
// 					display: inline-block;
// 					margin: 0 $space-sm;
// 					color: var(--grey-dark);
// 				}

// 				&:last-of-type::after {
// 					display: none;
// 				}
// 			}
// 		}
// 	}

// 	&__logo {
// 		text-align: center;

// 		.icon {
// 			width: 60px;
// 			fill: var(--grey-medium);
// 		}
// 	}
// 	&__copyright {
// 		margin-top: $space;
// 	}
// }
