@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.footer {
	padding: 0 $space;
	background-color: var(--grey-light);

	@include mq(md) {
		padding: 0 $space-md;
	}

	&__content {
		border-top: 2px solid var(--grey-semi);

		@include mq(md) {
			display: flex;
			justify-content: space-between;
			> div {
				max-width: 350px;
			}
		}
	}
	&__content-block {
		h2 {
			@include font-size(18px);
		}
	}
	&__about {
		p {
			@include font-size(15px);
			margin-top: $space;

			@include mq(md) {
				margin-top: $space + 5px;
			}
		}
	}
	&__connect {
		ul {
			li {
				display: inline-block;
				position: relative;
				margin-right: $space-sm;
				margin-bottom: $space-sm;

				@include mq(md) {
					margin-right: auto;
					margin-left: $space-sm;
					text-align: right;
				}

				a {
					@include font-size(15px);
					font-weight: $font-weight-normal;
					font-variation-settings: 'wght' $font-weight-normal;
				}
			}
		}
		@include mq(md) {
			text-align: right;
		}
	}
	&__version {
		margin-top: $space;
	}
	&__copyright {
		@include font-size(13px);
		margin-top: $space;
		text-align: center;
	}
}
.hotline-webring {
	@include font-size(13px);
	margin-top: $space-sm;
	&__arrow {
		@include font-size(18px);
	}
	&__prev {
		margin-right: $space-sm;
	}
	&__next {
		margin-left: $space-sm;
	}
	&__home {
		font-weight: $font-weight-normal;
		font-variation-settings: 'wght' $font-weight-normal;
	}
}
