.header {
	padding: 0 $space;
	background-color: var(--grey-light);

	@include mq(md) {
		padding: 0 $space-md;
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 2px solid var(--black);
		padding: $space-md 0;
	}

	&__logo {
		display: block;
		text-decoration: none;
		line-height: 0;
		border: 0;
		background: none;
		width: 70px;

		@include mq(md) {
			width: 90px;
		}
		svg {
			fill: var(--black);
		}

		&:hover {
			svg {
				fill: var(--primary);
			}
		}
	}
}
