.tags {
	@include font-size(13px);
	margin-bottom: $space-lg;

	a {
		display: inline-block;
		margin: 0 $space-sm;
		@include font-size(13px);
	}
	&--buttons {
		a {
			display: inline-block;
			background-color: var(--white);
			border-radius: $border-radius;
			padding: $space-xs $space-sm;
			margin: 0 $space-sm $space-sm 0;
			@include font-size(13px);

			&:hover {
				border: 0;
				background-color: var(--primary);
				color: var(--white);
				text-decoration: none;
			}
		}
	}
	&--links {
		a {
			display: inline-block;
			margin: 0 $space-sm $space-sm 0;
			@include font-size(13px);

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
