.nav {
	&__menu {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
	}
	&__item {
	}
	&__link {
		display: block;
		padding: 0.5em 1em;
		color: inherit;
		font-weight: $font-weight-semibold;
		font-variation-settings: 'wght' $font-weight-semibold;
		@include font-size(16px);

		.nav__item--active & {
			color: var(--primary);
		}
	}
	&__toggle {
		@include button-reset;
	}

	@include mq-down(md) {
		&.is-open &__menu {
			display: block;
			left: 20px;
			top: 67px;
			width: calc(100% - 40px);
			background-color: var(--black);
			color: var(--white);
			text-align: center;
			box-shadow: $box-shadow-elevated;
			padding: $space 0;
			z-index: 100;
		}
		&.is-open .nav__item--active .nav__link {
			color: var(--primary-light);
		}
	}

	@include mq(md) {
		&__toggle {
			display: none;
		}
		&__menu {
			display: flex;
			position: static;
			background-color: transparent;
		}
	}
}
