@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

ul.projects {
	margin-top: $space-xl;

	.project {
		&__item {
			border-bottom: 2px solid var(--grey-medium);
			padding: 0 $space $space;
			margin: $space 0;

			&.has-details {
				background-color: var(--grey-medium);
				padding-top: $space;

				.project__header--icon {
					background-color: var(--grey-light);
				}
			}
		}
		&__header {
			display: flex;
			justify-content: space-between;

			&--icon {
				display: none;
				background-color: var(--grey-medium);
				border-radius: $border-radius-lg;
				padding: $space-sm;
                
				@include mq(sm) {
                    width: 50px;
                    height: 50px;
                    display: flex;
					align-items: center;
					justify-content: center;
					flex-shrink: 0;
                    margin-right: $space;
				}
				@include mq(md) {
                    width: 70px;
                    height: 70px;
				}
			}

			&--content {
				flex-grow: 1;
			}

			&--date {
                text-align: right;
                margin-left: $space;
				@include font-size(15px);
                
				@include mq(md) {
					@include font-size(16px);
				}
			}
            
			&--title {
                margin-top: 0;
			}

			&--summary {
				@include font-size(15px);
				color: var(--grey-darkest);
				margin: 0;
				@include mq(md) {
					@include font-size(18px);
				}
			}
		}
		&__details {
			@include font-size(18px);
			margin: $space 0;
			padding: 0 $space;
			border-left: 5px solid var(--primary);
			background-color: var(--grey-medium);
		}
		&__tech {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			&-item {
				display: inline-block;
				background-color: var(--grey-light);
				border-radius: $border-radius;
				padding: $space-xs $space-sm;
				margin-right: $space-sm;
				margin-bottom: $space-sm;
				@include font-size(13px);
			}
		}
	}
}
