---
layout: page
title: About Me
subtitle: About Me sub
permalink: /about/
eleventyNavigation:
    key: About
---

<p>
    Here is a streamlined version of my résumé to give you an idea about my
    experience. For more details check out my
    [LinkedIn](http://www.linkedin.com/in/ajaykarwal) profile.
</p>

<h2>Current Role</h2>
<p>**Front-end Developer**</p>
<p>[Aiimi](http://aiimi.com)</p>
<p>
    My role involves developing features for Aiimi's core product, InsightMaker,
    an enterprise search and analytics application.
</p>
<h2>Skills</h2>
<p>{% include 'skills-list.njk' %}</p>
<p>
    In addition to the above, here is a list of the [tools I use on a regular
    basis](/uses/).
</p>
