---
layout: page
eleventyComputed:
    title: All posts in '{{ category }}'
    permalink: /categories/{{ category }}/
pagination:
    data: collections.categoryList
    size: 1
    alias: category
    filter:
        - all
        - nav
        - post
        - posts
        - categoryList
    addAllPagesToCollections: true
permalink: /categories/{{ category }}/
headerButton:
    url: '/blog/'
    text: All posts
---
<ul class="unstyled">
	{%- for post in collections.categoryList[category] | reverse -%}
    {%- if not post.data.draft -%}
	<li>{% include 'post-listing.njk' %}</li>
	{%- endif -%}
	{%- endfor -%}
</ul>
