---
layout: page
title: Projects
permalink: /projects/
eleventyNavigation:
    key: Projects
    order: 2
---

<p>
    Rather than a traditional portfolio, here are some of the clients I've worked with in the past with some details about
    some of the larger projects.
</p>
<ul class="projects unstyled">
    {%- for project in projects -%}
        <li class="project__item {{ 'has-details' if project.details }} {{ 'is-current' if project.current }}">
            <div class="project__header">
                <div class="project__header--icon">
                    <img src="/assets/images/clients/{{ project.id }}.png" width="100" height="100" alt="{{ project.title }}"/>
                </div>
                <div class="project__header--content">
                    <h3 class="project__header--title">
                        {{ project.title }}
                    </h3>
                    {%- if project.summary -%}
                        <p class="project__header--summary">{{ project.summary }}</p>
                    {%- endif -%}
                </div>
                <div class="project__header--date">
                    {{ project.date | projectDate }}
                    {%- if project.current -%}
                        <span> - Present</span>
                    {%- endif -%}
                </div>
            </div>
            {%- if project.details -%}
                <div class="project__details">
                    <p>{{ project.details | safe }}</p>
                    {%- if project.tech -%}
                        <ul class="project__tech unstyled">
                            {% for item in project.tech %}
                                <li class="project__tech-item">{{ item }}</li>
                            {% endfor %}
                        </ul>
                    {%- endif -%}
                </div>
            {%- endif -%}
        </li>
    {%- endfor -%}
</ul>