---
layout: page
title: Projects
permalink: /projects/
eleventyNavigation:
    key: Projects
    order: 1
---

<p>
	It's a little tricky to create a portfolio of development work I've been involved in. It can't always be portrayed with shiny
	screenshots or cool UX prototypes and behind-the-scenes photos of spint meetings.
</p>

<p>
	So rather than a traditional portfolio, here are some of the great clients I've worked with in the past and some details of some of the
	larger projects I've been involved in.
</p>

<ul class="projects unstyled">
	{%- for project in projects -%}
	<li class="project__item {{ 'has-details' if project.details }}">
		<div class="project__header">
			<div class="project__header-content">
				<h3 class="project__title">
					{{ project.title }}
				</h3>
				{%- if project.summary -%}
				<p class="project__summary">{{ project.summary }}</p>
				{%- endif -%}
			</div>
			<div class="project__date">
				{{ project.date | projectDate }}
			</div>
		</div>
		{%- if project.details -%}
		<div class="project__details">
			<p>{{ project.details | safe }}</p>
			{%- if project.tech -%}
			<ul class="project__tech unstyled">
				{% for item in project.tech %}
				<li class="project__tech-item">{{ item }}</li>
				{% endfor %}
			</ul>
			{%- endif -%}
		</div>
		{%- endif -%}
	</li>
	{%- endfor -%}
</ul>
