---
layout: base
---

<article class="container">
    <header>
        <h1>{{ title }}</h1>
        {% if subtitle %} <p>{{ subtitle }}</h1> {% endif %}
    </header>
    {{ content | safe }}
</article>
